#search-bar

table#advanced-search-table
  thead
    tr
     th Searching for..
     th
     th finds..
  tbody
    tr
      td
        a(href='#search/mosque') mosque
      td images with mosque in the image or attributes
    tr
      td
        a(href='#search/source_user_username:mah.mad25') source_user_username:mah.mad25
      td images taken by username mah.mad25
