.modal-dialog
  .modal-content
    .modal-header
      button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
      h4.modal-title
        | Advanced Search Tips
    .modal-body
      table.table-hover
        thead
          tr
           th Searching for..
           th finds..
        tbody
          tr
            td
              a(href='#search/mosque') mosque
            td images with mosque in the image or attributes
          tr
            td
              a(href='#search/source_user_username:mah.mad25') source_user_username:mah.mad25
            td images taken by username mah.mad25
